@font-face {
    font-family: Aiko;
    src: url(Aiko-Regular.ttf);
    font-display: swap;
}

* {
    font-family: Aiko, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --beige: #f8e7d1;
    --softpink: #fcf3f3;
    --pink: rgb(250, 116, 138);
    --standard: 1.3rem;
}

header {
    min-height: 50px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--softpink);
}

main {
    text-align: center;
}

h1 {
    font-size: 3.1rem;
    padding-top: 4%;
    margin-left: 2%;
}

h2 {
    font-size: 3.1rem;
}

h3 {
    font-size: 1.6rem;
    line-height: 1rem;
}

h4 {
    line-height: 1rem;
    font-size: 1.3rem;
}

p {
    font-size: var(--standard);
}

a {
    color: rgb(2, 2, 63);
}

a:hover {
    color: var(--pink);
}

section {
    margin-top: -3%;
    padding-top: 8%;
}

nav {
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: var(--softpink);
    font-weight: bold;
}

nav li {
    display: inline;
    font-size: var(--standard);
}

nav li a {
    color: #642e37;
    padding: 10%;
    text-decoration: underline 0.15em var(--navbar);
    transition: text-decoration-color 0.8s;
}

nav li a:hover {
    color: #642e37;
    text-decoration-color: #642e37;
}

ul {
    list-style-type: none;
}

.lang li {
    display: inline;
    border: 1px solid var(--softpink);
    border-style: dotted;
    line-height: 3rem;
    padding: 0.2em;
    border-radius: 3px;
}

#intro {
    background-image: url("images/aiko.png");
    background-size: cover;
    height: 500px;
    background-position: center;
    text-align: center;

}

#intro p {
    font-size: 1.8rem;
}

details {
    cursor: pointer;
}

footer {
    text-align: center;
}

.box {
    background-color: #eee5e5;
    border-radius: 1em;
    box-shadow: 8px 8px 5px #aaaaaa;
    padding: 1rem;
    transition: box-shadow 0.5s;
}

.box:hover {
    box-shadow: 0px 0px 0px white;
}

.academics {
    text-align: left;
    margin: 2rem;
    font-size: 1.8rem;
}
  
.boxes {
    /* max-width: 1200px; */
    padding-inline-start: 0;
    margin: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-column: repeat(3, 1fr);*/
}

img {
    aspect-ratio: 1;
}



#education {
    background-color: #eee5e5;
}

@keyframes pinkshades {
    0% {color: black;}
    25% {color: #a0025c;}
    50% {color: #00411b;}
    75% {color: #003d52;}
    100% {color: black;}
}


.bounce:hover {
    animation-name: bounce;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce{
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.container {  
    display: grid;
    grid-template-columns: 0.6fr 1.4fr; 
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left right";
}
  
.left { 
    grid-area: left; 
    text-align: center;
}
  
.right { grid-area: right; }

#ordered {
    font-size: 3vh;
}

#buttons {
    line-height: 200%;
}

#sdiabutton {
    color: rgb(2, 2, 63);
    text-decoration: underline;
    cursor: pointer;
}

dialog {
    border-radius: 20px;
    border-style: groove;
    background-color: var(--softpink);
}

.button-success {
    background-color: var(--pink);
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
}

fieldset {
    border-style: none;
}

label {
    display: inline-block;
    width: 100px;
}



/* MEDIA QUERIES */
@media screen and (min-width: 801px) and (max-width:1280px) {
    nav li a {
        padding: 8%;
    }
}

@media screen and (min-width: 641px) and (max-width:800px) {
    nav li a {
        padding: 7%;
    }
}

@media screen and (min-width: 451px) and (max-width:640px) {

    h1 {
        font-size: 2.9rem;
        padding-top: 7%;
    }
    
    nav li a {
        padding: 5%;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 2.8rem;
        padding-top: 15%;
    }

    nav li a {
        padding: 2%;
    }
}